<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RVS Management</title>

  <!--Boostrap 4.0.0 CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <!--Font Awesome Icons-->
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#home"> RVS Management </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#contact">{{req.originalUrl}}</a>
            </li>

          </ul>

        </div>
      </div>
    </nav>
    </nav>
  </header>

  <main>

    <section id="home">
      <div class="container mt-6">
        <div class="jumbotron mb-1">
          <div class="row">
            <div class="col-sm-12 col-md-12">
                <form method="post" action="/"  enctype="multipart/form-data">
                <div class="form-group">
                        <label for="csv">upload csv</label>
                        <input type="file" id="csv" name="csv" class="form-control" accept=".csv" >
                </div>
                
                <button type="submit" class="btn btn-primary float-right">Send</button>
                </form>
            </div>
           
          </div>
        </div>
      </div>
    </section>
    <footer>
    <section class="mb-4 mt-3">
        <div class="container">
          <div class="row">

            <input type="hidden" id="results-data" value="{{results}}">

            <div class="col-sm-12 col-md-12 text-left">
              {{#each results}}
                {{#each this}}
                {{!-- <h6 class="links" id="{{@index}}">{{this}}</h6> --}}
                {{/each}}
              {{/each}}
              <div class="show">
                {{!-- <h6 class="links" id="{{@index}}">{{this}}</h6> --}}
              </div>


              {{#if results}}
                  {{!-- <h2>CSV Data</h2> --}}
                  <table>
                    <thead>
                      <tr>
                        {{!-- {{#each results.[0]}}
                          <th>{{this}}</th>
                        {{/each}} --}}
                      </tr>
                    </thead>
                    <tbody>
                      {{#each results as |row|}}
                        <tr class="data" data="{{row._0}}">
                          {{#each row as |value key|}}
                            <td class="links_{{{@index}}}" id="{{@key}}" >{{value}}</td>
                             {{!-- <h6 class="links_{{@index}}">{{}}</h6> --}}
                          {{/each}}
                        </tr>
                      {{/each}}
                    </tbody>
                  </table>
                {{/if}}

            {{!-- {{filenames}} --}}
            </div>
          </div>
        </div>
        </section>
      
      <section class="footer-2">
                <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              {{!-- <h6 class="pt-4 pb-4">Scrapper © 2023. All Rights Reversed</h6> --}}
            </div>
  
          </div>
          
          
        </div>
        
        
        
      </section>
      
      
      
      
      </footer>


  </main>

  <!--jQuery 3.2.1 Script-->
  {{!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> --}}

  <!--Popper 1.12.9 Script-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>

  <!--Bootstrap 4.0.0 JavaScript-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>

 <script>
    $(document).ready(function() {

    const namelist = [];
    const data = JSON.parse($('#results-data').val());

    $.each(data, function(index, value){
      if(index > 0){

      namelist.push(value._0)
      console.log(index, value._0);

      var h6 = $(`<h6 id="${index}" >${value._0}</h6>`)
      $('.show').append(h6);
      }
      
    });





   console.log('namelist =', namelist)
  // console.log('data =', data[1])

    const linksdata = [];  
    var links = $('.data');

    $.each(links, function(index, value){
    var url = $(this).text();
      linksdata.push(url);
      //console.log( index ,url)
    });

    var arrayCount = namelist.length;

            var counter = 1;
            console.log(arrayCount)


          var intervalId = setInterval(function() {

            if (counter > arrayCount) {
              clearInterval(intervalId);
              console.log('counter = ' , counter)
              return;
            }


          var formData = {
            url: linksdata[counter],
            id: counter,
          }; 

          var postData = {
            data: data[counter],
            id: counter,
          }

          console.log(counter)

           $.ajax({
            url: '/create-html',
            type: 'POST',
            data: postData,
            success: function(data) {
            // Append the name value pairs to the data div
            
            console.log('mmmmmm data', data.id, data.pdfFileName, data)
            //  $('#'+data.id).html(data.title+ ' (Done)' ).css({'color':'blue', 'font-size' : '20px'} );
              $('#'+data.id).html( data.pdfFileName +' (created)' ).css({'color':'green'} );

            }
            });


          counter++;
          }, 3000);

    });
  </script>


</body>
</html